// set custom hex colors 
$siteBgColorCustom: #061c30;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #848d96;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #47bec7;
$headingColorCustom: #ffffff;
$bodyLinkColorCustom: #47bec7;
$navLinkColorCustom: #47bec7;
$sidebarLinkColorCustom: #c4001a;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #c4001a;
$borderColorCustom: #c4beb9;
